<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Test template</title>
    <link href="{{ asset('styles.css') }}">
</head>
<body>
    <h1>Test template</h1>

    <script src="{{ asset('script.js') }}"></script>
</body>
</html>
